<h2>Current Cryptocurrency Market</h2>
<hr>

<div class="data_content">
  <table class="responsive-table highlight bordered">
    <thead>
      <tr>
        <th>Ranking</th>
        <th>Image</th>
        <th>Cryptocurrency</th>
        <th>Symbol</th>
        <th>Price</th>
        <th>Market Value</th>
        <th>$ Chang«e</th>
        <th>% Change</th>
        <th>Tracking</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let crypto of cryptos">
        <td>{{crypto.order}}</td>
        <td>
          <img src="{{crypto.imageUrl}}" alt="">
        </td>
        <td>
          <a href="{{crypto.url}}" target="_blank">{{crypto.name}}</a>
        </td>
        <td>{{crypto.symbol}}</td>
        <td *ngIf="crypto.price > 1">${{crypto.price | number : '1.2-2'}}</td>
        <td *ngIf="crypto.price < 1">${{crypto.price | number : '1.2-6'}}</td>
        <td>${{crypto.marketValue | number : '1.2-2'}}</td>
        <td>${{ crypto.changeVal | number : '1.2-2'}}</td>
        <td>{{ crypto.changePerc | number : '1.2-2'}}%</td>
        <td><button (click) = "startTracking(crypto.id)" class="light-blue darken-1 waves-effect waves-light btn">Track</button></td>
      </tr>
    </tbody>
  </table>
</div>
