<div class="w3-sidebar w3-bar-block">
    <a (click)= "callLoginFunction()" routerLink="/" class="w3-bar-item w3-button">
      <i class="medium material-icons">home</i>
      <p>Home</p>
    </a>
  <br>
  <a (click)= "callLoginFunction()" routerLink = "/{{loggedIn}}" class="w3-bar-item w3-button">
    <i class="material-icons medium">person</i>
    <p>User</p>
  </a>
  <br>
  <a (click)= "callLoginFunction()" routerLink="/dashboard" class="w3-bar-item w3-button">
    <i class="medium material-icons">insert_chart</i>
    <p>Dashboard</p>
  </a>
  <br>
  <a (click)= "callLoginFunction()" routerLink = "/crypto" class="w3-bar-item w3-button">
    <i class="medium material-icons">attach_money</i>
    <p>Market</p>
  </a>
  <br>
  <a (click)= "callLoginFunction()" routerLink = "/user/portfolio" class="w3-bar-item w3-button">
    <i class="medium material-icons">next_week</i>
    <p>Portfolio</p>
  </a>
  <br>
  <a (click)= "callLoginFunction()" routerLink = "/transactions" class="w3-bar-item w3-button">
    <i class="medium material-icons">receipt</i>
    <p>History</p>
  </a>
  <br>
  <a (click)= "callLoginFunction()" routerLink = "/user-options/buy" class="w3-bar-item w3-button">
    <i class="medium material-icons">local_atm</i>
    <p>Buy/Sell</p> 
  </a>
  <br>
  <a (click)= "callLoginFunction()" routerLink = "/logout" class="w3-bar-item w3-button">
    <i class="medium material-icons">subdirectory_arrow_right</i>
    <p>Logout</p>
  </a>
</div>
